
.eh-border-radius( @value ) {
  -webkit-border-radius: @value;
  border-radius: @value;
}

.eh-linear-gradient( @value ) {
  -webkit-linear-gradient: @value;
  linear-gradient: @value;
}

.eh-box-shadow( @value ) {
  -webkit-box-shadow: @value;
  box-shadow: @value;
}

.eh-user-select( @value ) {
  -webkit-user-select: @value;
  user-select: @value;
}


