
@import "config.less";
@import "css3.less";

.eh-full {
  width:100%;
}

.eh-line-block {
  margin-top:10px;
  margin-bottom:10px;
}

.eh-table-layout {
  display:table;
  & > .eh-table-cell {
    display:table-cell;
  }
}


.eh-notification-list {
  position: fixed;
  bottom: 0px;
  right: 0px;
  width:250px;
  padding-bottom:10px;
  padding-right:10px;
  opacity:.8;
  z-index:10;

  .eh-notification-row {
    margin-top:10px;
  }
}
